<a href="https://colab.research.google.com/github/indraja2109/Python-workshop/blob/main/PyWSD1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("I'm attending Python workshop")

I'm attending Python workshop

In [4]:
n = [1, 2, 3, 4, 5]
for x in n:
  print(x)

1
2
3
4
5

In [8]:
tup = ("oats", "muesli", "peanut butter")
print(tup)
for t in tup:
  print(t)

('oats', 'muesli', 'peanut butter')
oats
muesli
peanut butter

In [19]:
n = input("Enter a number: ")
print("All natural numbers up to ", n, ":")
x = 1
while x<=int(n):
  print(x)
  x+=1

Enter a number: 10
All natural numbers up to  10 :
1
2
3
4
5
6
7
8
9
10

In [23]:
x = 5
y = "John"
x = y
print("Hello ", x, "!!")

Hello  John !!

In [26]:
 x=float(.222)
 print(x)

0.222

In [28]:
x, y, z = 21, "zara", 3.14
print(x)
print(y)
print(z)

21
zara
3.14

In [35]:
x = 5
def fun():
  y = x+1
  print(y)

fun()

6

In [52]:
fDic = {
    "Name" : "A", 
    "age" : 51
}
x = fDic.values()
fDic.update({"age" : 21})
def pDic():
  print(fDic)

pDic()
print(fDic.values())

fDic["nationality"] = "Indian"

pDic()

fDic.pop("nationality")

pDic()

fDic["Subject"] = "English"
fDic["Semester"] = 3

pDic()

fDic.popitem()
pDic()

#for i, j in fDic, x:
 # print(i , ": " , j )

{'Name': 'A', 'age': 21}
dict_values(['A', 21])
{'Name': 'A', 'age': 21, 'nationality': 'Indian'}
{'Name': 'A', 'age': 21}
{'Name': 'A', 'age': 21, 'Subject': 'English', 'Semester': 3}
{'Name': 'A', 'age': 21, 'Subject': 'English'}

#Exercise 1

In [40]:
carname = "Volvo"
print(carname)

Volvo

#Exercise 2

In [41]:
x = 50
print(x)

50

#Exercise 3

In [42]:
x, y = 5, 10
print(x+y)

15

#Exercise 4

In [49]:
x, y = 11, 17
z = x+y
print(z)

28

In [53]:
x, y, z = 21, "zara", 3.14
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [59]:
x1 = "Hello World"
x2 = 10
x3 = 10.1 
x4 = ["apple", "banana", "cherry"]
x5 = ("apple", "banana", "cherry") #tuple
x6 = range(6)
x7 = { "name" : "Johnwick", "age" : 36} #dictionary
x8 = {"apple", "banana", "cherry"} #set
x9 = True #boolean
x10 = 10-5j
x11 = int(x3)

print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))
print(type(x5))
print(type(x6))
print(type(x7))
print(type(x8))
print(type(x9))
print(type(x10))
print(x11)

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'bool'>
<class 'complex'>
10

In [60]:
x = str(input())
y = str(input())

print(x+y)

5
5
55

In [61]:
x = int(input())
y = int(input())

print( x*10+y)

2
3
23

In [65]:
name = "India"
print(name)
print(type(name))
print(name[0])
print(len(name))

India
<class 'str'>
I
5

In [67]:
a = "Hello "
b = "World"
print(a+b)

Hello World

In [74]:
s = input()
print("length = ", len(s))
print(s[:-1])
print(s.upper())
print(s.format()+" college")
print(s+" college")
print(s.isdigit())

alvas
length =  5
alva
ALVAS
alvas college
alvas college
False

In [77]:
x, y = 10, 5

print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)

print(x == y)
print(x>y)
print(x<y)
print(x!=y)

15
5
50
2.0
0
False
True
False
True

#Assignment

In [82]:
x = int(input("Enter the value of x: "))
y = int(input("Enter the value of y: "))

print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)

Enter the value of x: 20
Enter the value of y: 2
22
18
40
10.0
0